.go-cell {
    background-color: #82583f;
    border: 1px solid #000;
    width:100%;
    height:100%;
    position: relative
}

.wh {
    display:inline-block;
}

.other {
    position: absolute;
    left:0px;
    top:0px;
}

.bottom {    
    position:relative;
    top:10px;
    left:-10px;
}

.right {
    position: relative;
    top:-10px;
    left:10px;
}

.bottom-right {
    position:relative;
    top:10px;
    left:10px;
}